@using Microsoft.AspNetCore.Http
@using Mobile_de_Casa.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mobile_de_Casa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Products" asp-action="Index">Mobile_de_Casa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Products" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                           @if (User.IsInRole(Utils.ManagerUser))
                        {
                            <li class="nav-item dropdown">
                                <a style="outline-color:black" class="nav-link dropdown-toggle" href="#" id="navbarContentMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Content Management</a>

                                <div class="dropdown-menu" aria-labelledby="navbarContentMenu">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Categories" asp-action="Index">Brand</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="SubCategories" asp-action="Index">Mobiles</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Products" asp-action="Index">Product</a>                                 
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
                                </div>

                            </li>
                        }
                         <li class="nav-item">
                         @if (this.Context.Session.GetInt32(Utils.ShoppingCartCount) != null)
                        {
                            <li>
                                <a asp-area="Customer" asp-action="Index" asp-controller="Cart" class="nav-link">
                                    @{
                                        var cart = this.Context.Session.GetInt32(Utils.ShoppingCartCount).Value;
                                    }

                                    <i class="fa-solid fa-cart-shopping "></i>&nbsp;@cart
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="#" class="nav-link">

                                    <i class="fa-solid fa-cart-shopping"></i>&nbsp;0
                                </a>
                            </li>
                        }
                          </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Mobile_de_Casa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script src="https://kit.fontawesome.com/7423b51cf6.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
