@model Mobile_de_Casa.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Item Details</h2>
<br />
<form method="post">
    <div class="border backgroundWhite row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 pb-4 d-md-none">
            <img src="@Model.Products.Image" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Products.Name" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Products.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Products.Description" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <div class="border p-2">
                        @Html.Raw(Model.Products.Description)
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Products.Price" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Products.Price" readonly class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Products.CategoryId" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Products.Category.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Products.SubCategoryId" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Products.SubCategory.Name" readonly class="form-control" />
                </div>
            </div>
          
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Count" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
                <div class="col-md-4">
                    <button type="submit" value="Add to Cart" class="btn btn-primary form-control">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 offset-1 d-none d-md-block">
            <img src="@Model.Products.Image" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>



    </div>
    <input asp-for="ProductId" hidden />
</form>
@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
