@model Mobile_de_Casa.Models.Feedback
@{
    ViewData["Title"] = "Feedback";
}

<h1>Feedback</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Feedback">
            <input type="hidden" asp-for="ProductId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-area="Admin" asp-controller="Products" asp-action="Index">Back to Products</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }